.hidden {
    display: none;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
}

#instruction {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 25px 0px;

}

.game-title {
    width: 100%;
    text-align: center;
    font-size: 88px;
    padding-bottom: 20px;
    color: #ff6e6e;
    font-weight: bold;
    margin-top: 20px;
}

.introduction-title {
    font-size: 3.8vw;
    /* min-height: 72px; */
    max-height: 87px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #ff6e6e;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(124, 9, 63, 0.5);
}

body {
    min-height: 100%;
    background-image: url('../assets/background/city.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(220, 174, 235);
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Abel';
    overflow: scroll;
}

.main-content {
    /* min-height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-canvas {
    /* background-image: url('../assets/store/store.jpg'); */
    background-color: #ffedfa;
    background-repeat: repeat;
    background-size: 400px auto;
    background-position: 0 60px;
    height: 700px;
    width: 819px;
    border: 10px solid rgb(221, 164, 240);
    border-radius: 40px;
}


#counter {
    box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    /* justify-content: space-between */
    align-items: center;
    z-index: 10;
    height: 100px;
}



#boba-container {
    width: 233px;
    height: 100px;
}

#boba {
    width: 819px;
    height: 100px;
    background: rgba(187, 186, 186, 0.959);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#boba .cup {
    width: 80px;
    height: 80px;
    background-color: #fffeed;
    border-radius: 8px;
    margin-right: 2px;
}

#boba .tea {
    width: 80px;
    height: 80px;
    background-color: #edfaff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-right: 2px;
}

#boba .topping {
    width: 80px;
    height: 80px;
    background-color: #ededff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-right: 2px;
}

#boba .cup > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 5px;
    box-sizing: border-box;
}

#controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

#menu {
    /* width: 363px;
    height: 161px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 2px;
    padding: 10px;
    /* cursor: pointer; */
}

.menu-first-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-left: 5px; */
    cursor: pointer;
}

.menu-second-row, .menu-third-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    cursor: pointer;
}

#small, #medium {
    margin-right: 2px;
}

.cup-sizes>img, .tea-choice>img, .topping-choice>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 2px;
}


.cup-sizes,
.tea-choice,
.topping-choice {
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
}

.cup-sizes {
    background-color: #fffeed;
}

.tea-choice {
    background-color: #edfaff;
}

.topping-choice {
    background-color: #ededff;
}

.tea-choice .letter, .topping-choice .letter {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 24px;
    color: #48035e;
}

.cup-sizes .letter{
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 24px;
    color: #48035e;
}

 #introduction {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}



#introduction-contents {
    z-index: 1;
    position: fixed;
    background: #fabbbb;
    padding: 20px;
    width: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    /* height: 80vh; */
    height: fit-content;
    /* min-height: 580px; */
}


.modal-content {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}


#modal-content {
    display: flex;
    justify-content: center;
    z-index: 1;
    position: fixed;
    background: #fabbbb;
    padding: 20px;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 20px;   
}

.message{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 40px;
}


#start-button{
    /* font-size: 2vh; */
    font-size: 1vw;
    max-height: 42px;
    font-family: 'Abel';
    width: 500px;
    background-color: transparent;
    /* color: #83213e; */
    color: white;
    font-weight: bolder;
    border: 0;
    display: block;
    line-height: 40px;
    outline: 0;
    padding: 0 20px 0 20px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid rgb(117, 173, 236);
    background: rgb(127, 179, 238);
    border-radius: 8px;
    border-color: rgb(138, 181, 231) rgb(120, 169, 224) rgb(136, 177, 224);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(128, 128, 128, 0.3), 0 3px 6px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

#restart-button {
    font-size: 20px;
    font-family: 'Abel';
    width: 200px;
    background-color: transparent;
    /* color: #83213e; */
    color: white;
    font-weight: bolder;
    border: 0;
    display: block;
    line-height: 40px;
    outline: 0;
    padding: 0 20px 0 20px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid rgb(117, 173, 236);
    background: rgb(127, 179, 238);
    border-radius: 8px;
    border-color: rgb(138, 181, 231) rgb(120, 169, 224) rgb(136, 177, 224);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(128, 128, 128, 0.3), 0 3px 6px rgba(0, 0, 0, 0.15);
    margin-top: 40px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

#start-button:hover, #restart-button:hover {
    background: rgb(105, 158, 219);
    color: white;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border-color: rgb(90, 144, 206) rgb(95, 147, 206) rrgb(89, 151, 223)
}

#boba-break{
    color:#ff6e6e;
    font-weight: bold;
    display: inline;
    /* font-size: 30px; */
    /* font-size: 3vh; */
    font-size: 1.6vw;
    max-height: 36px;
}

#description-small {
    width: 500px;
    text-align: justify;
    margin-bottom: 30px;
    /* font-size: 1.9vh; */
    font-size: 0.95vw;
    max-height: 83.5px;
    color: white;
}

.instruction-title, .how-title {
    color: rgb(127, 179, 238);
    font-weight: bold;
    /* font-size: 2.1vh; */
    font-size: 1.05vw;
    max-height: 20.2px;
    margin-bottom: 5px;
}

#instruction-i {
    width: 500px;
    text-align: justify;
    margin-bottom: 30px;
    color: white;
}


.list-instruct ul {
    list-style-type: circle;
    margin-left: 20px;
    text-align: justify;

}

.list-instruct li {
    padding-bottom: 5px;
    /* font-size: 1.8vh; */
    font-size: 0.9vw;
    max-height: 40px;
}


#how-to-section {
    width: 500px;
    text-align: justify;
    margin-bottom: 30px;
    color: white;
}

.grid-container {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 500px;
    max-height: 147px;
    /* font-size: 1.7vh; */
    font-size: 0.9vw;
    text-align: left;
}

#foot {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 10px;
}

#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

#lost-customer {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    width: 100px;
}



#score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
}

#timer-container {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#remove-button{
    margin-right: 10px;
    font-family: 'Abel';
    background-color: transparent;
    color: white;
    font-weight: bolder;
    border: 0;
    display: block;
    line-height: 40px;
    outline: 0;
    padding: 0 20px 0 20px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid rgb(117, 173, 236);
    background: rgb(127, 179, 238);
    border-radius: 8px;
    border-color: rgb(138, 181, 231) rgb(120, 169, 224) rgb(136, 177, 224);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(128, 128, 128, 0.3), 0 3px 6px rgba(0, 0, 0, 0.15);
    margin-top: 40px;
    margin-bottom: 20px;
}

#remove-button:hover {
    background: rgb(105, 158, 219);
    color: white;
    transform: scale(1.0) translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border-color: rgb(90, 144, 206) rgb(95, 147, 206) rrgb(89, 151, 223);
}


#intro-section {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

#github, #linkedin, #website {
    font-size: 60px;
    color: rgb(205, 125, 231);
    cursor: pointer;
}

#github:hover, #linkedin:hover, #website:hover {
    color: rgb(195, 96, 228);
    border-color: rgb(90, 144, 206) rgb(95, 147, 206) rrgb(89, 151, 223)
}

#bottom-section {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;
    margin-top: 20px;
}

#b-github, #b-linkedin, #b-website {
    font-size: 60px;
    color: rgb(185, 48, 231);
    cursor: pointer;
}

#b-github:hover, #b-linkedin:hover, #b-website:hover {
    color: rgb(155, 16, 201);
    border-color: rgb(90, 144, 206) rgb(95, 147, 206) rgb(89, 151, 223)
}

#footer-github:hover, #footer-linkedin:hover, .fa-solid.fa-square-pen:hover {
    transform: scale(1.1);
}


#order-image{
    margin-top: 10px;
    width: 120px;
    border: 3px solid #4E5660;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

#image-med {
    margin-top: 13.5px;
    display: flex;
    flex-direction: row;
    /* width: 50px; */
    /* position: relative; */
    margin-bottom: 24px;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 12px;
}

#med-image {
    width: 60px;
    height: 60px;
}

#image-med-1, #image-med-2 {
    position: relative;
}

#image-med-1 i {
    position: absolute;
    bottom: -15px;
    right: -10px;
    margin: 2px;
    color: rgb(181, 112, 204);
    font-size: 24px;

}

#image-med-2 i {
    position: absolute;
    bottom: -15px;
    right: -13px;
    margin: 2px;
    color: rgb(181, 112, 204);
    font-size: 24px;
}

#image-med-1 img, #image-med-2 img {
    border-radius: 10px;
}

#image-delete {
    margin-top:25px;
    margin-bottom: 33px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#delete-image {
    height: 35px;
    width: 80px;
    object-fit: contain;
    border-radius: 15px;
    display: flex;
    margin-left: -8px;
    margin-right: 10px;
}

#image-delete-icon {
    margin-top: -5px;
    font-size: 45px;
}

#image-delete-1, #image-delete-2 {
    position: relative;
}

#image-delete-1 i {
    position: absolute;
    bottom: -10px;
    right: 10px;
    margin: 2px;
    color: rgb(181, 112, 204);
    font-size: 24px;
}

#image-delete-2-icon  {
    position: absolute;
    bottom: -10px;
    right: -20px;
    margin: 2px;
    color: rgb(181, 112, 204);
    font-size: 24px;
}

#small:hover, #medium:hover, #large:hover, #oolong:hover, #ginger:hover, #green:hover,
#chaomille:hover, #white:hover, #black:hover, #tapioca:hover, 
#aloe:hover, #white-pearls:hover, #pudding:hover, #herbal-jelly:hover, #red-bean:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/* @media only screen and (max-width: 1440px) {
    .introduction-title {
        font-size: 50px;
        padding-bottom: 15px;
        margin-bottom: 5px;
        color: #ff6e6e;
        font-weight: bold;
        text-shadow: 1px 1px 4px rgba(124, 9, 63, 0.5);
    }

    #description-small {
        width: 500px;
        text-align: justify;
        margin-bottom: 20px;
        font-size: 15px;
        color: white;
    }

    #boba-break {
        color: #ff6e6e;
        font-weight: bold;
        display: inline;
        font-size: 25px;
    }

    .list-instruct li {
        padding-bottom: 5px;
        font-size: 15px;
    }

    #instruction-i {
        width: 500px;
        text-align: justify;
        margin-bottom: 20px;
        color: white;
    }

    .grid-container {
        margin-top: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        width: 500px;
        font-size: 15px;
        text-align: left;
    }

    #start-button {
        font-size: 18px;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    #intro-section {
        display: flex;
        flex-direction: row;
        width: 250px;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 15px;
    }
} */